@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */

:root {
  --blue: #1c454b;
  --green: #00aa4f;
  --sand: #f4ead9;
}

/* general */

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4ead9;
}

.main {
  margin-top: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section-container {
  margin: 0 auto;
  padding: 4rem 2.5rem;
}

.section-container--flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-link {
  color: var(--green);
  text-decoration: none;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.text-link:hover {
  color: #007a3d;
}

.bold {
  font-weight: 700;
}

/* formulaires */

.form-section__title {
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #00aa4f;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.form__input {
  border: 1px solid #bfc4c1;
  padding: 2px 6px;
}

.form__error-message {
  color: red;
  font-size: 0.85rem;
}

.form__titre {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

form label {
  font-weight: 600;
}

/* boutons */

button,
input[type='submit'],
.button {
  background-color: #00aa4f;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px 0;
  transition: all 200ms ease-in-out;
  width: max-content;
  margin: 0;
}

button:hover,
input[type='submit']:hover,
.button:hover {
  background-color: #007a3d;
}

.button--centered {
  margin: 0 auto !important;
}
